@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --iro-green: #3a643b;
  --iro-yellow: #ffd700;
  --iro-light-yellow: #f8f8f8;
  --iro-light-green: #e6f4e0;
  --iro-dark-green: #2e4d2b;
  --iro-dark-yellow: #b5a642;
}

/* Add your custom styles here */
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--iro-light-yellow);
}
